<h2>Details on the {{celeb.name}}</h2>
<h3>This celebrity is know as {{celeb.occupation}}</h3>
<h4>{{celeb.name}} says: "{{celeb.catchPhrase}}"</h4>
<br />
<a href='/celebrities/{{celeb._id}}/edit'>Edit this celebrity</a>
<br />
<br />
<h3><a href='/celebrities'>Back to all celebrities</a></h3>