{{#with celebrity}}
    <h2>This is the detailed Page for {{name}} 😜</h2>
    <p>Name : {{name}}</p>
    <p>Occupation : {{occupation}}</p>
    <p>Catch Phrase : {{catchPhrase}}</p>
    <a href="/movies/{{_id}}/edit">Edit Page</a>
{{/with}}