{{#with celeb}}
<h1>{{name}}</h1>
<p>Occupation: {{occupation}}</p>
<p>Catch Phrase: {{catchPhrase}}</p>
{{!-- <a href="/books/edit/{{_id}}">Edit</a>
<a href="/books/delete/{{_id}}">Delete</a> --}}
{{/with}}