<h2> Celebrities Details page </h2>


<div class="celebrity-container">

  <p>Name: {{celebrity.name}}</p>
  <p>Occupation: {{celebrity.occupation}}</p>
  <p>Phrase: {{celebrity.catchPhrase}}</p>
  
  <a href="/celebrity/edit/{{celebrity._id}}">Edit celebrity</a>
  <br> 
  <a href="/celebrity/delete/{{celebrity._id}}">Delete celebrity</a>


</div>

