{{#each movies}}

<h2>{{title}}</h2>
<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>
<p>
    Cast:
        <ul>
            {{#each cast}}
                 <li>{{name}}</li>
            {{/each}}
        </ul>
</p>
    <form action="/movies/{{_id}}/edit" method="get">
        <button type="submit">Edit</button>
    </form>
    
{{/each}}

<a href="/movies/new">
    Create a new movie!
</a>