<h2>Movies</h2>

{{#each movies}}
<p>
    <h4>{{this.title}}</h4>
    Genre: {{this.genre}} <br>
    Plot: {{this.plot}} <br>
    Cast: {{#each this.cast}} {{ this.name }} {{/each}}
    
    <form action="/movies/{{this._id}}/delete" method="post">
        <button type="submit">DELETE</button>
    </form>
    <form action="movies/{{this._id}}/edit" method="get">
        <button type="submit">EDIT</button>
    </form>
    <br>
    <br>
</p>
{{/each}}

<a href="movies/new">Add new movie</a>