<h2>Edit a movie! :</h2>


<form action="/movies/{{selectedMovie.id}}/edit" method="post">

    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value="{{selectedMovie.title}}">

    <label for="genre">Genre:</label>
    <input type="text" name="genre" id="genre" value="{{selectedMovie.genre}}">

    <label for="plot">Plot summary:</label>
    <input type="text" name="plot" id="plot" value="{{selectedMovie.plot}}">

    <label for="cast">Cast:</label>
    <select name="cast" id="cast" multiple>
        {{#each allCelebritiesNotInMovie}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
        {{#each selectedMovieCast}}
            <option value="{{this._id}}" selected>{{this.name}}</option>
        {{/each}}
    </select>

    <button type="submit">Edit movie!</button>
</form>
