<div class="container">
    <h2>Edit {{movieAndCast.movie.title}}</h2>
    <form action="/movies/{{movieAndCast.movie._id}}" method="POST">
        <label for="">Title: </label>
        <input type="text" name="title" value="{{movieAndCast.movie.title}}">

        <label for="">Genre: </label>
        <input type="text" name="genre" value="{{movieAndCast.movie.genre}}">

        <label for="">Plot: </label>
        <input type="text" name="plot" value="{{movieAndCast.movie.plot}}">

        <select name="cast" id="" multiple>
            {{#each movieAndCast.movie.cast}}
                <option value="{{this._id}}" selected>{{this.name}}</option>
            {{/each}}
            {{#each movieAndCast.cast}}
                <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
	    </select>
        <button type="submit">Save changes</button>
    </form>
</div>
