<h5>
    <nav class="nav-bar">
        <a class="nav-bar-item" href="/movies"> See Movies</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="nav-bar-item" href="/celebrities"> See Celebrties&nbsp;&nbsp;&nbsp;</a>
    </nav>
</h5>


<h2>
    {{#with movieDetail}}
    <h1>Title: {{title}}</h1>
    <br />
    <p>Genre: {{genre}}</p>
    <br />
    <p>Plot: {{plot}}</p>
    <br />
    {{!-- <p>Cast: {{cast.1}}</p> --}}

    <p> Cast: </p>
    {{#each cast}}
    <p>{{name}}</p>
    <br />
    {{/each}}

    <a href="/movies/{{_id}}/edit">Edit the Movie</a>
    {{/with}}
</h2>