<div class="container">
    <h2>Movies</h2>
    {{#each movies}}
        <p>{{this.title}}</p>
        <p>{{this.genre}}</p>
        <p>{{this.plot}}</p>
        <ul>
            {{#each this.cast}}
                <li>
                    {{this.name}}
                </li>
            {{/each}}
        </ul>
        <a href="/movies/{{this._id}}/edit">Edit {{this.title}}</a>
    {{/each}}

    <a href="/">Back to Home</a>
</div>