<h2>Movie Details 🎦</h2>
<h3>{{movie.title}}</h3>
<h4>{{movie.genre}}</h4>
<p>{{movie.plot}}</p>
{{#each movie.cast}}
    <p>Name: {{this.name}}</p>
  {{/each}}
<a href="/movies/{{movie._id}}/edit">Edit</a>